* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: 2px solid grey;
}

.logo {
  width: 100px;
}

.nav-links {
  padding-left: 930px;
}

.nav-links > ul {
  display: flex;
  list-style-type: none;
}

.nav-links > ul > li {
  padding: 10px;
  margin: 10px;
}
